.btn-product{
    width: 100%;
}

.list-group {
	font-size:14px;
}

.product-card {
    height: 530px;
    width: 300px;
}

.product-card img {
    height: 400px;
}

.ctg:hover {
    background: #2098D1;
}